//main.styl
body{
	background #f6f6f7
	color #000000
	font-family arial, sans-serif
	margin 0
	text-align: center;
}

.result{ width: 100%; max-width: 1080px; margin: 0 auto; text-align: left;}
.artist{padding: 10px 15px;}
.artist:nth-child(even){background: #cdcdcd;}

